<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div>
    <input type=button onClick="parent.location='user/add'"
           value='Add new user'>
    <input type=button onClick="parent.location='logout'"
           value='Logout'>
</div>
<div>
    <h2>Users list</h2>
    <table id="example" class="table table-bordered" style="width: 75%">
        <thead>
        <tr>
            <th> Id</th>
            <th> First Name</th>
            <th> Last name</th>
            <th> Email</th>
            <th> Login</th>
            <th> Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No users available</td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.getId()}"> Id </span></td>
            <td><span th:text="${user.getFirstName()}">First Name </span></td>
            <td><span th:text="${user.getLastName()}"> Last Name </span></td>
            <td><span th:text="${user.getEmail()}"> Email </span></td>
            <td><span th:text="${user.getUsername()}"> Login </span></td>
            <td><span th:text="${user.getRoles()}"> Roles </span></td>
            <td><a th:href="@{user/update/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{user/remove/{id}(id=${user.id})}">Remove</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>