<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user form</title>
</head>
<body>
<h2> Add user data</h2>


<form th:method="POST" th:action="@{/user/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}">

    <label for="name"> Enter first name </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br>

    <label for="lastName"> Enter last name </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>

    <label for="email"> Enter email </label>
    <input type="text" th:field="*{email}" id="email">
    <br>

    <input type="hidden" th:field="*{userName}" >
    <input type="hidden" th:field="*{password}" >

    <input type="submit" value="Update">

</form>

</body>
</html>